<section class="products section" id="product">
  <div class="products__container container">
    <!-- IMAGE -->

    <div class="products__img">
      <img
        src="../../../assets/img/other/oil-6.png"
        alt="oil"
        class="products__img--style drop-shadow"
      />
    </div>

    <!-- END IMAGE -->
    <!-- PRODUCT -->

    <div class="products__content">
      <h2 class="products__content--title title-h2">nasi proizvodi</h2>
      <p class="products__content--text text">
        Naš proizvod je vrhunsko maslinovo ulje koje je proizvedeno isključivo
        od bio maslina. Naš proizvod se ističe svojim jedinstvenim okusom i
        kvalitetom, a zbog naše filozofije proizvodnje, garantiramo da je
        proizveden uz najviše standarde kvalitete. Naše masline se pažljivo
        biraju, a proces proizvodnje se provodi s velikom brigom i pažnjom. Naš
        proizvod će obogatiti svako jelo i pružiti vam nezaboravno iskustvo.
      </p>
    </div>

    <!-- END PRODUCT -->
  </div>

  <!-- SHAPE -->
  <img
    src="../../../assets/img/shapes/wave-2.svg"
    alt="wave"
    class="products__shape products__shape--wave"
  />
  <img
    src="../../../assets/img/shapes/wave-line-2.svg"
    alt="wave-line"
    class="products__shape products__shape--line"
  />
  <img
    src="../../../assets/img/other/olive.png"
    alt=""
    class="products__shape products__shape--olive"
  />

  <!-- END SHAPE -->
</section>
