<section class="bottom section">
  <div class="bottom__container container">
    <!-- GUARANTEE -->

    <div class="bottom__guarantee">
      <h2 class="bottom__guarantee--title title-h2">
        we guarantee every bottle
      </h2>
      <div class="bottom__guarantee--text text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste quaerat
        officiis reprehenderit perspiciatis, cumque unde sunt animi labore, sed
        eaque quasi neque quam, molestias fugiat delectus adipisci optio quae
        iure ab! Inventore sunt ratione dolores possimus. Sed voluptate earum
        debitis placeat sint tempora vero, ad deleniti excepturi fugiat quo
        amet.
      </div>
    </div>

    <!-- END GUARANTEE -->

    <!-- IMG -->
    <div class="bottom__img">
      <img src="../../../assets/img/other/bottom.png" alt="olive" />
    </div>
    <!-- END IMG -->
  </div>
</section>
