<section class="home section" id="home">
  <div class="home__container container">
    <!-- TITLE -->

    <div class="home__title">
      <h1 class="home__title--h1">
        best-tasting extra virgin olive oil from the healthiest plans
      </h1>
      <p class="home__title--subtitle">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta.
      </p>
      <a href="#" class="home__title--btn btn">shop now</a>
    </div>

    <!-- END TITLE -->
    <!-- IMAGE -->

    <div class="home__img">
      <img
        src="../../../assets/img/other/oil-4.png"
        alt="olive"
        class="home__img--style drop-shadow"
      />
    </div>

    <!-- END IMAGE -->
  </div>

  <!-- SHAPE -->

  <img
    src="../../../assets/img/shapes/shape-1.svg"
    alt=""
    class="home__shape home__shape--blob"
  />
  <img
    src="../../../assets/img/shapes/shape-line-1.svg"
    alt=""
    class="home__shape home__shape--line"
  />

  <!-- END SHAPE -->
</section>
