<section class="testimonial section">
  <div class="testimonial__container container">
    <!-- HEADER -->

    <h2 class="testimonial__title title-h2">what people are saying</h2>

    <!-- END HEADER -->
    <!-- CARD -->

    <div class="testimonial__cards">
      <!-- card 1 -->

      <div class="card">
        <div class="card__stars">
          <img src="../../../assets/img/shapes/star.svg" alt="star" />
          <img src="../../../assets/img/shapes/star.svg" alt="star" />
          <img src="../../../assets/img/shapes/star.svg" alt="star" />
          <img src="../../../assets/img/shapes/star.svg" alt="star" />
          <img src="../../../assets/img/shapes/star.svg" alt="star" />
        </div>
        <p class="card__text text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, nulla
          obcaecati nam aut corrupti porro.
        </p>
        <span class="card__name">- mark</span>
      </div>

      <!-- end card 1 -->
      <!-- card 2 -->

      <div class="card">
        <div class="card__stars">
          <img src="../../../assets/img/shapes/star.svg" alt="star" />
          <img src="../../../assets/img/shapes/star.svg" alt="star" />
          <img src="../../../assets/img/shapes/star.svg" alt="star" />
          <img src="../../../assets/img/shapes/star.svg" alt="star" />
          <img src="../../../assets/img/shapes/star.svg" alt="star" />
        </div>
        <p class="card__text text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, nulla
          obcaecati nam aut corrupti porro.
        </p>
        <span class="card__name">- mark</span>
      </div>

      <!-- end card 2 -->
      <!-- card 3 -->

      <div class="card">
        <div class="card__stars">
          <img src="../../../assets/img/shapes/star.svg" alt="star" />
          <img src="../../../assets/img/shapes/star.svg" alt="star" />
          <img src="../../../assets/img/shapes/star.svg" alt="star" />
          <img src="../../../assets/img/shapes/star.svg" alt="star" />
          <img src="../../../assets/img/shapes/star.svg" alt="star" />
        </div>
        <p class="card__text text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, nulla
          obcaecati nam aut corrupti porro.
        </p>
        <span class="card__name">- mark</span>
      </div>

      <!-- end card 3 -->
      <!-- card 4 -->

      <div class="card">
        <div class="card__stars">
          <img src="../../../assets/img/shapes/star.svg" alt="star" />
          <img src="../../../assets/img/shapes/star.svg" alt="star" />
          <img src="../../../assets/img/shapes/star.svg" alt="star" />
          <img src="../../../assets/img/shapes/star.svg" alt="star" />
          <img src="../../../assets/img/shapes/star.svg" alt="star" />
        </div>
        <p class="card__text text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, nulla
          obcaecati nam aut corrupti porro.
        </p>
        <span class="card__name">- mark</span>
      </div>

      <!-- end card 4 -->
    </div>

    <!-- END CARD -->
  </div>

  <!-- WAVE -->
  <img
    src="../../../assets/img/shapes/wave-3.svg"
    alt="wave"
    class="testimonial__wave"
  />
  <img
    src="../../../assets/img/shapes/wave-line-3.svg"
    alt="wave"
    class="testimonial__line"
  />
  <img
    src="../../../assets/img/shapes/wave-line-3.svg"
    alt="wave"
    class="testimonial__line--2"
  />
  <!-- END WAVE -->
</section>
