<section class="production section" id="production">
  <div class="production__container container">
    <!-- OLIVE -->

    <div class="production__olive">
      <h2 class="production__olive--title title-h2">nasa proizvodnja</h2>
      <p class="production__olive--text text">
        U našoj proizvodnji maslina, uzgajamo masline na najbolji način koji
        jamči kvalitetu i ukus. Naša posvećenost proizvodnji vrhunskog
        maslinovog ulja počinje s odabirom najboljih stabala maslina, uzgojenih
        na našem obiteljskom imanju. Naša proizvodnja se temelji na
        tradicionalnoj mediteranskoj poljoprivrednoj praksi koju njegujemo i
        usavršavamo tijekom generacija. Svaki plod masline kojeg ubiremo
        pažljivo se bira i sortira kako bismo osigurali da samo najbolje masline
        ulaze u naš proizvodni proces. Naše masline ručno se beru kako bi se
        izbjeglo oštećenje plodova i kako bi se osiguralo najbolje moguće
        maslinovo ulje. Korištenje tehnologije u proizvodnji maslina nam pomaže
        u postizanju najbolje kvalitete, ali u procesu ne zanemarujemo i
        tradicionalne metode. Nakon berbe, naši stručnjaci za proizvodnju ulja
        pažljivo obrađuju masline u našem mlinu. Svaka tura maslina se posebno
        obrađuje kako bi se osigurao najbolji okus i kvaliteta ulja. Naši
        mlinovi su opremljeni najmodernijom opremom za ekstrakciju ulja, što nam
        omogućuje da dobijemo vrhunski proizvod koji se ističe svojim bogatim
        okusom i aromom. Kontrolirana proizvodnja maslinovog ulja je jedan od
        naših prioritetnih ciljeva. Kao takvi, naši procesi proizvodnje strogo
        se nadgledaju kako bi se osiguralo da proizvodimo samo najbolje
        kvalitete ulja. Svaka tura maslina i proizvoda prolazi kroz rigoroznu
        provjeru kvalitete, a svi proizvodi su certificirani od strane nadležnih
        tijela. Uz našu predanost kvaliteti, nudimo i razne vrste maslinovog
        ulja koje odgovaraju različitim okusima i potrebama. Naše maslinovo ulje
        se razlikuje po intenzitetu okusa i aromama, što omogućuje da svi naši
        kupci pronađu svoju omiljenu varijantu. Naši proizvodi se mogu naći u
        različitim veličinama i pakiranjima, što omogućuje fleksibilnost kupcima
        u odabiru i kupovini.
      </p>
    </div>

    <!-- END OLIVE -->
    <!-- IMG -->

    <div class="production__img">
      <img
        src="../../../assets/img/other/oil-5.png"
        alt="production"
        class="drop-shadow"
      />
    </div>

    <!-- END IMG -->
  </div>

  <!-- SHAPE -->

  <img
    src="../../../assets/img/shapes/wave.svg"
    alt=""
    class="production__shape production__shape--wave"
  />
  <img
    src="../../../assets/img/shapes/wave-line.svg"
    alt=""
    class="production__shape production__shape--line"
  />
  <img
    src="../../../assets/img/other/olive-2.png"
    alt=""
    class="production__shape production__shape--olive"
  />

  <!-- END SHAPE -->
</section>
