<section class="varieties section" id="varieties">
  <div class="varieties__container container">
    <!-- IMAGE 1 -->

    <div class="varieties__card shadow">
      <img
        src="../../../assets/img/other/card-1.jpg"
        alt=""
        class="varieties__card--img drop-shadow"
      />
      <h3 class="varieties__card--title">the olive three</h3>
      <p class="varieties__card--text text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, qui
        adipisci quisquam nostrum repellendus enim iure, sint voluptatum sequi,
        minima laudantium quod obcaecati pariatur libero quam sunt! Est, saepe
        mollitia.
      </p>
    </div>

    <!-- END IMAGE 1 -->
    <!-- IMAGE 2 -->

    <div class="varieties__card shadow">
      <img
        src="../../../assets/img/other/card-2.jpg"
        alt=""
        class="varieties__card--img drop-shadow"
      />
      <h3 class="varieties__card--title">the olive three</h3>
      <p class="varieties__card--text text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, qui
        adipisci quisquam nostrum repellendus enim iure, sint voluptatum sequi,
        minima laudantium quod obcaecati pariatur libero quam sunt! Est, saepe
        mollitia.
      </p>
    </div>

    <!-- END IMAGE 2 -->
    <!-- IMAGE 3 -->

    <div class="varieties__card shadow">
      <img
        src="../../../assets/img/other/card-3.jpg"
        alt=""
        class="varieties__card--img drop-shadow"
      />
      <h3 class="varieties__card--title">the olive three</h3>
      <p class="varieties__card--text text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, qui
        adipisci quisquam nostrum repellendus enim iure, sint voluptatum sequi,
        minima laudantium quod obcaecati pariatur libero quam sunt! Est, saepe
        mollitia.
      </p>
    </div>

    <!-- END IMAGE 3 -->
  </div>
</section>
